<app-header title="Card"></app-header>

<ion-content padding>
  <ion-card mode="ios" color="secondary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis a eveniet nam animi provident modi commodi, earum soluta veniam odit facere maxime. Beatae recusandae veritatis quia tempora totam, inventore quas?
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-item color="primary">
      <ion-icon slot="start" name="pin" color="light"></ion-icon>
      <ion-label>Marker</ion-label>
    </ion-item>

    <ion-card-content>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur sit reprehenderit veniam sapiente dolore. Blanditiis, placeat ex? Voluptatibus magni ea totam facere debitis? Eos maiores et in iste, minima incidunt.</ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore alias blanditiis vero fuga aspernatur quae ut quasi earum praesentium, consequatur hic aperiam eum libero sint repellendus ratione incidunt atque et.
    </ion-card-content>
  </ion-card>
</ion-content>
